%h1 Thank you for purchasing your will
%p Use the link below to visit your downloads page. Alternatively, you can download copies of your will anytime from the 'Wills' section

%hr
= link_to("Click here", will_purchase_path(@will), class: "button radius")