%h1 Contact Us
%p If you have any questions or queries, please get in touch using the details below.
%p
  General enquiries:
  = mail_to 'contact@notaryexpress.co.uk'
  %br
  Telephone: 0333 122 221
  %br
  Fax: 0207 183 5669

%p
  Notary Express
  %br
  12 Upper King Street
  %br
  Norwich
  %br
  NR3 1HA