-provide(:bodyclass , "home")

#intro
  .narrow-logo
    = image_tag("logo.png")
  %h1 Protect your future
  %h2 Create your Will quickly and easily
  - if signed_in?
    %p= link_to("Create Will", new_will_path)
  -else
    %p= link_to("Sign in and Create Will", new_will_path)
