-provide(:bodyclass , "home")

#intro
  .narrow-logo
    = image_tag("logo.png")
  %h1 Having a will is the only way to ensure your savings and possessions (your estate) go to the  people that you care about.
  %h2 Protect your future and loved ones by writing a Will by use our simple online service  Create your Will quickly and easily from as little as £30 with our Express Will service in 3 simple steps:
  %p.points
    1. Choose you option, Express or Gold Service
    %br
    2. Click Sign In and Create Will
    %br
    3. Confirm you Will and await confirmation!
  - if signed_in?
    %p= link_to("Create Will", new_will_path)
  -else
    %p= link_to("Sign in and Create Will", new_will_path)

%table.order-comp
  %thead
    %tr
      %th.blank.title
      %th Express Service
      %th Gold Service
  %tbody
    %tr
      %td.title Instantly emailed to you
      %td.true
      %td
    %tr.odd
      %td.title Instructions for signing
      %td.true
      %td.true
    %tr
      %td.title We keep a copy on file
      %td.true
      %td.true
    %tr.odd
      %td.title Review within 48 hours by a qualified lawyer
      %td
      %td.true
    %tr
      %td.title Two bound wills posted to you
      %td
      %td.true
    %tr.odd
      %td.title Electronic copy emailed to you
      %td.true
      %td.true
    %tr
      %td.title Free storage for your signed will
      %td
      %td.true
    %tr.odd
      %td
        %td.price
          Price: £25.00
          %br
          VAT at 20%: £5.00
          %br
          %b Total: £30
        %td.price
          Price: £50.00
          %br
          VAT at 20%: £10.00
          %br
          %b Total: £60

%div{:style => "max-width:275px;max-height:163px;"}
  %div{:style => "position: relative;padding-bottom: 59.1%;height: auto;overflow: hidden;"}
    %iframe{:allowtransparency => "true", :frameborder => "0", :scrolling => "no", :src => "https://cdn.yoshki.com/iframe/55845r.html", :style => "border:0px; margin:0px; padding:0px; backgroundColor:transparent; top:0px; left:0px; width:100%; height:100%; position: absolute;"}