%p In using our services you agree to abide by the following Terms & Conditions:
%p
  %strong Contractual Parties
  %br/
  %br/
  Services are provided to you by Notary Express Limited.
  %br/
  %br/
  %strong Fees
  %br/
  %br/
  We will normally agree fees in advance of any meeting. Our standard fees are set out on the website and if the matter is non-standard you will be given an estimate in advance. If at the appointment the matter proves more complicated than expected or there are more documents or people involved than indicated or legalisation is required, we reserve the right to renegotiate the fee or charge you at an hourly rate. Local attendance is defined as within 15 minutes' walk of our office. If you fail to attend an appointment without at least 1 hour's notice or arrive more than 15 minutes late we may not be able to see you and if we do see you we reserve the right to charge at our hourly rate in addition to our standard fee. We prefer to work without referral commissions but in some cases may have negotiated such commissions with third parties such as estate agents. If a referral commission applies to your transaction it will be added to the fee and your informed written consent will be sought beforehand. Once you instruct us our fees are due even if the transaction fails to proceed for any reason other than our default. If we agree a fixed fee that is not paid up front work work and you dis-instruct us before that work completes we will charge you an hourly rate for the work done to date but cap it at the agreed fixed fee. If we offer a discounted rate for payment up front this discount is in exchange for you bearing the risk of the transaction not completing; we will not refund fees if the transaction does not complete for any reason other than our default.
  %br/
  %br/
  %strong Disbursements
  %br/
  %br/
  You are responsible for all payments which we make on your behalf. Typical examples are legalisation fees paid to a consulate, Companies House and Land Registry fees, couriers and title searches. We shall not incur these expenses without first obtaining your consent to do so. We have no obligation to pay these expenses unless you have provided us with the funds for that purpose.
  %br/
  %br/
  %strong Payment
  %br/
  %br/
  Payment is generally due on commencement of the notarial service, by cash, cheque or bank transfer. If we send you an invoice in respect of the work, payment is due within 7 days of the date of the invoice. Interest will be charged on late payments on a daily basis at 8% over the Bank of England base rate from time to time from the date payment was due. If you owe us any money we are also entitled to retain your documents until we have been paid.
%p
  %strong Client Account
%p Any money received on your behalf will be held in our client account. Subject to certain minimum amounts and periods of time set out in the Notaries Accounts Rules, interest will be calculated and paid to you at the rate from time to time payable on Natwest's designated client accounts. The period for which interest will be paid will normally run from the date on which funds are received by us until the date of issue of any cheque from our client account. You authorise us to retain the first £20.00 of each amount of interest as and when calculated to help us cover the administrative expenses of arranging these calculations and payments.
%p
  %strong Conduct
  %br/
  %br/
  You agree to provide us with true and accurate information when using the services. We are not responsible for any issues that arise through the provision to us by yourself (or any party instructed to act on your behalf) of incorrect information. You agree to notify us immediately of any unauthorised use of your identity or email that could affect our service to you.
  %br/
  %br/
  %strong Our Responsibilities
  %br/
  %br/
  We have to be satisfied as to your identity, your legal capacity, your authority and your understanding and approval of the contents of any document. If a document is in a language other than English or Spanish we may require a translation. We must be satisfied that it is your voluntary act and that no fraud, violence or duress is involved and that other stipulated formalities under English and any relevant foreign law of which we are aware are observed. If we are not satisfied about any one of those things we can refuse to undertake the matter. Documents retained for legalisation or any other purpose will be returned to you by first class post unless you request to collect it in person; if you wish to use another postal service such as recorded delivery you must request this at the appointment and pay the difference. The loss of documents in the mail is a rare but unfortunate occurrence, and if this happens Notary Express does not accept responsibility but will in such circumstances offer you a free notarised replacement and instructions if required on how you can get an apostille or have it legalised yourself.
  %br/
  %br/
  %strong Legal Advice
  %br/
  %br/
  It is not our responsibility to give you legal advice concerning a document or advise on tax matters. When dealing with a document destined for a foreign jurisdiction, you are advised to seek first the advice of your own independent legal or other competent professional adviser who practises in, or is skilled in the law of that jurisdiction.
  %br/
  %br/
  %strong Consular Legalisation
  %br/
  %br/
  Some countries require a document to be legalised. This is the process by which a state agency confirms that my seal and signature are those of an English notary. The Foreign and Commonwealth Office attach a certificate (known as the apostille) to the document. Sometimes the document then has to go to the London embassy for the country to where the document will be sent. The embassy will then attach its own certificate to the document. Your lawyer will probably advise you of the need for legalisation. If not, you should ask him about it. As a guide the postal service for an apostille takes approximately 5-7 days, the tracked service approximately 2 days by courier (London) or 3-4 days by Special Delivery (Norwich), and the same-day service can normally be completed the same day if your appointment with us is in the morning. "Days" means working days. Notary Express is not responsible for any delay caused by third parties including but not limited to the Foreign & Commonwealth Office or a foreign consulate. 
%p
  %strong Conveyancing
%p You will need to ensure that you have sufficient funds to meet costs beyond your mortgage advance and any sale proceeds. We do not check this for you. We may ask the lender to arrange that the advance monies are received by us up to 4 working days prior to the completion date. This will enable us to ensure that the necessary funds are available in time for completion. You should be aware that the lender may charge interest from the date of issue of the advance. If you are buying with a mortgage and we are not on the lender panel we will represent you but the lender will instruct another firm to represent it at your cost. We do not undertake to check the validity, extent or enforceability of guarantees relating to the fabric of the property or to ensure that the benefit of them is transferred to you, except in the case of NHBC cover. You are advised to have a full survey carried out by a chartered surveyor prior to exchange of contracts. If you instruct us jointly, we will treat the instruction of any one of you as the instruction of you all, and may share information between you. Unless you expressly request otherwise on a sale of property we will discharge the estate agent commission as well as any mortgage, outstanding service charges, ground rent and/or other charges secured on the property out of the completion monies and you authorise us to do this. If we agree a delayed payment arrangement and completion is set to occur more than 3 months after the date of exchange we reserve the right to request our fees any time after 3 months from the date of exchange.
%p
  %strong Data Protection
  %br/
  %br/
  It is your responsibility to make sure you retain control of all communication methods you have previously identified to us, including your postal address, email address and telephone number. We will treat all instructions received from these sources as genuine. If you lose control of any of these resources you must inform us immediately. Notary Express will in most cases keep an entry of the details of notarial service and copies of any documents you provide including, but not limited to, the document notarised and your proofs of identity. You agree to us retaining relevant information about yourself and the matter dealt with. We may use this for the purposes of complying with legal and regulatory requirements, to carry out credit checks, to detect, investigate and prevent fraud, for internal analysis and research, and to contact you from time to time with offer of products and services that we believe may be of interest to you. You can opt out of receiving marketing information at any time. We will not pass your details on to third parties other than group companies without your consent unless required to do so by law. If you are kind enough to give us a testimonial we may use the comments and your first name in our publicity but we will not publish any other details about you.
%p
  %strong Storage
%p We scan original documents and can normally return them to you at the appointment. If an original document has to be retained or is posted in to us for subsequent return to you, we will return it to you by first class recorded delivery at your own cost. If you require a different return service please let us know when you deliver the document to us. On completion of a matter and financial settlement we will endeavour to return to you any original documents due to you. If you do not accept your documents from us we reserve the right to destroy them or charge you at our standard rate for storage as we at our discretion elect.
%p
  %strong Insurance
  %br/
  %br/
  Notary Express carries professional indemnity and fidelity liability cover of £1,000,000.  We therefore limit the level of our liability to you to £1,000,000, except as a result of death or personal injury. This limit is considered to be fair and reasonable and reflects the level of professional indemnity insurance we hold. The limit shall apply to any and all causes of action against us in respect of, or arising from, or in any way connected with our engagement by you. If you require a higher limit of liability please contact us to discuss this. We may be able to make alternative arrangements or advise you of an alternative lawyer. Where in relation to any loss you also have a cause of action against any third party, we shall only be liable to you for our share of the responsibility but not more than the limit on our liability mentioned in this paragraph.
%p
  %strong Amendment
  %br/
  %br/
  Notary Express reserves the right to amend these Terms & Conditions at any time by posting an amended version to this website. The updated Terms & Conditions shall apply to all services rendered since the update.
%p
  %strong Complaints
%p 1. Our notarial practice is regulated by the Faculty Office of the Archbishop of Canterbury:
%p
  The Faculty Office
  %br/
  1, The Sanctuary
  %br/
  Westminster
  %br/
  London
  %br/
  SW1P 3JT
  %br/
  Telephone 0207 222 5381
%p Email: faculty.office@1thesanctuary.com
%p Website: www.facultyoffice.org.uk
%p 2. If you are dissatisfied about the service you have received please do not hesitate to contact us.
%p 3. If we are unable to resolve the matter you may complain to the Notaries Society of which I am a member, who have a complaints procedure which is approved by the Faculty Office. This procedure is free to use and is designed to provide a quick resolution to any dispute.
%p
  4. In that case please write (but do not enclose any original documents) with full details of your complaint to:
  %br/
  %br/
  Christopher Vaughan
  %br/
  Secretary of the Notaries Society
  %br/
  Old Church Chambers
  %br/
  23 Sandhill Road
  %br/
  St James
  %br/
  Northampton
  %br/
  NN5 5LH
%p
  Telephone: 0207 222 5381
  %br/
  Email: secretary@thenotariessociety.org.uk
%p
  Website: www.thenotariessociety.org.uk
  %br/
  If you have any difficulty making a complaint in writing, please do not hesitate to call the Notaries Society for assistance. 
%p
  5. Finally, even if you have your complaint considered under the Complaints Procedure, you may at the end of that procedure or after a period of eight weeks from the date you first notified us that you were dissatisfied, make your complaint to the Legal Ombudsman, if you are not happy with the result: 
  %br/
  %br/
  Legal Ombudsman
  %br/
  PO Box 6806
  %br/
  Wolverhampton
  %br/
  WV1 9WJ
  %br/
  %br/
  Telephone: 0300 555 0333
  %br/
  Email: enquiries@legalombudsman.org.uk
  %br/
  Website: www.legalombudsman.org.uk 
  %br/
  %br/
  6. If you decide to make a complaint to the Legal Ombudsman, you must refer your matter to the Legal Ombudsman within six months from the conclusion of the complaint process.
%p
  %strong Governing Law and Jurisdiction
%p The laws governing our agreement are the laws of England and Wales, and the courts of England have exclusive jurisdiction over any proceedings that arise from our dealings.
%p
  %strong Queries
%p We hope that you will be satisfied with the service we provide but if you have any queries or need our literature provided in a different format please do not hesitate to contact us. We aim to provide the best possible service to the highest standards of practice while ensuring good value to our clients. Thank you for your custom and we hope you will return to use our services again in the future.