%h1 Replacement Executors
= session[:page]
%h4.subheader You are advised to pick replacement executors in case one or more of your first choice executor(s) are no longer alive or unwilling to act.
%hr