%h1 A Will has been purchased at Express Wills 

%p
  %b Name:
  = @will.testator_general_details.try(:full_name)
  %br
  %b Email:
  = @will.user.try(:email)
%p Please login to the admin account to see the details

- if @will.order.gold?
  %p
    To review the will for the client
    = link_to "Click Here", admin_will_review_url(@will)
    \.
- else
  %p The client has purchased an Express Will